/* ===== GLOBAL ===== */

:root{
    --dark-green:#003B2E;
    --primary:#00A86B;
    --primary-light:#2DCB9E;
    --bg-soft:#EDF2F1;
    --danger:#E63946;
}

body{
    background:var(--bg-soft);
    font-family:'Poppins',sans-serif;
}

/* ===== NAVBAR ===== */

.navbar{
    background:white !important;
    padding:14px 0;
    box-shadow:0 2px 12px rgba(0,0,0,0.05);
}

.navbar-brand{
    color:var(--primary) !important;
    font-weight:700;
    font-size:1.4rem;
}

.nav-link-custom{
    text-decoration:none;
    color:#00A86B;
    font-weight:600;
    margin-right:15px;
    transition:.2s;
}

.nav-link-custom:hover{
    color:#008d5a;
}

.btn-primary{
    background:var(--primary);
    border:none;
}

.btn-primary:hover{
    background:#008d5a;
}

.btn-outline-primary{
    border-color:var(--primary);
    color:var(--primary);
}

.btn-outline-primary:hover{
    background:var(--primary);
    color:white;
}

/* ===== HERO ===== */

.hero-section{
    background:linear-gradient(
        135deg,
        var(--dark-green),
        var(--primary-light)
    );

    color:white;
    border-radius:30px;
    padding:80px 70px;
    margin-bottom:50px;
    overflow:hidden;
    position:relative;
}

.hero-section::before{
    background:rgba(255,255,255,.08);
}

.hero-section::after{
    background:rgba(255,255,255,.05);
}


.hero-section h1{
    color:#fff;
    font-weight:700;
}

.hero-section p{
    color:#fff !important;
    font-size:1.05rem;
}

/* ===== EVENT CARD ===== */

.card{
    transition:0.3s;
}

.card:hover{
    transform:translateY(-6px);
}

.card.border-0{
    border-radius:22px !important;
    overflow:hidden;
    box-shadow:0 8px 25px rgba(0,0,0,.05) !important;
}

.card-img-top{
    height:240px !important;
    object-fit:cover;

    transition:.4s;
}

.card:hover .card-img-top{
    transform:scale(1.05);
}

.badge{
    padding:8px 12px;
    border-radius:30px;
}

.badge.bg-primary{
    background:#dff8ee !important;
    color:var(--primary) !important;
    font-weight:600;
    padding:8px 14px;
}

.card-body h5{
    font-weight:700;
    margin-bottom:15px;
}

.card.border-0{
    transition:.3s;
}

.card.border-0:hover{
    transform:translateY(-8px);

    box-shadow:
        0 20px 40px rgba(0,168,107,.18)
        !important;
}


/* ===== DETAIL EVENT ===== */

.detail-layout{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:30px;
}

.detail-poster{
    width:100%;
    height:420px;
    object-fit:cover;
}

.event-info-box{
    background:white;
    padding:25px;
    border-radius:24px;
    box-shadow:0 10px 30px rgba(0,0,0,.05);
}

.detail-info{
    background:#f4faf8;
    padding:15px;
    border-radius:14px;
    margin-bottom:12px;
}

.detail-title{
    font-size:2rem;
    font-weight:700;
}

@media (max-width: 992px){

    .detail-layout{
        grid-template-columns:1fr;
    }

}

/* ===== EVENT SAYA ===== */
.my-event-card{
    background:white;
    border-radius:24px;
    padding:25px;

    box-shadow:
        0 10px 25px rgba(0,0,0,.06);

    transition:.3s;
}

.my-event-card:hover{
    transform:translateY(-5px);

    box-shadow:
        0 15px 35px rgba(0,168,107,.15);
}

.my-event-title{
    font-size:1.2rem;
    font-weight:700;
}

.countdown-small{
    background:#dff8ee;
    color:#008d5a;

    display:inline-block;

    padding:8px 14px;

    border-radius:999px;

    font-weight:600;
}

.countdown-today{
    background:#fff3cd;
    color:#856404;

    display:inline-block;

    padding:8px 14px;

    border-radius:999px;

    font-weight:600;
}

.countdown-finished{
    background:#ececec;
    color:#555;

    display:inline-block;

    padding:8px 14px;

    border-radius:999px;

    font-weight:600;
}


.badge.bg-success{
    background:#dff8ee !important;
    color:#008d5a !important;
}

.event-info-box{
    background:white;

    border-radius:24px;

    padding:25px;

    box-shadow:
        0 10px 30px rgba(0,0,0,.05);

    position:sticky;

    top:30px;
}

.countdown-box{
    background:linear-gradient(
        135deg,
        #005940,
        #2DCB9E
    );

    color:white;

    border-radius:24px;

    padding:30px;

    box-shadow:
        0 10px 30px rgba(0,0,0,.08);
}

.count-number{
    font-size:4rem;
    font-weight:700;
    line-height:1;
    margin-bottom:10px;
}

.countdown-box h3{
    margin-bottom:10px;
}

/* ===== ALERT ===== */

.alert-success{
    border:none;
    background:#dff8ee;
    color:#008d5a;
}

.alert-danger{
    border:none;
    background:#ffe5e5;
    color:#d32f2f;
}

/* ===== REGISTER EVENT ===== */

.register-card{
    border-radius:28px;

    border:none;

    box-shadow:
        0 15px 40px rgba(0,0,0,.06);
}

.register-title{
    font-size:2rem;

    font-weight:700;
}


.register-title{
    font-size:2rem;
    font-weight:700;
    color:#222;
}

.form-label{
    font-weight:600;
    color:#444;
}

.form-control{
    border-radius:16px;
    min-height:55px;
    border:2px solid #dceee8;
}

.form-control:focus{
    border-color:var(--primary);

    box-shadow:
        0 0 0 4px
        rgba(0,168,107,.12);
}